.projects{
    display: flex;
    flex-direction: column;
    
    background: rgba(70, 18, 101, 0.174);
    
}

.projects-heading h1 {
  color: #fff;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.projects-heading p{
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 20px;
  margin-right: 20px;
}

.projects-items {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
  padding: 50px;
  align-items: center;
  justify-content: center;
}
.projects-1 {
  display: inline-flex;
  padding: 20px 0px;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #9e00ff;
  background-color: #1b102460;
  margin-left: 10px;
  margin-right: 20px;
  padding-top: 0px;
 
}
.projects-1:hover{
    transform: scale(1.02) ;
    box-shadow: 0px 0px 20px 0px #9d00ff6a;
}

.projects-1 img{
    transform: scale(0.8) ;
    margin: 0px;
}
#content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* cursor: pointer; */
  margin: 0;
  padding: 20px;
}
#content-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

#content-heading hr{
    margin-top: 0px;
}
#content-heading h1 {
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  background: linear-gradient(270deg, #dba6f4 11.87%, #a981fe 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

#content-heading p {
  color: #848481;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 0;
  /* width:100%; */
}

#content-bottom{
    display: flex;
    flex-direction: column;
}
#content-bottom p {
    display:flex;

  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 350px;
  text-align: left;
  margin: 0;
}
#content-bottom-skills{
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;
    align-items: flex-start;
}
#content-bottom-skills ul{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
    padding: 0;
}

#content-bottom-skills li{
    list-style: none;
    font-size: 12px;
    font-family: Poppins;
    color:#9e00ff;
    font-weight: 400;
    background: #231D35;    
    /* background: linear-gradient(0deg, rgba(116, 1, 187, 0.393) -1.22%, #06048000 100.78%); */

    border-radius: 15px;
    padding:5px 15px;

}
#buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
  width: 100%;
  padding-top: 10px;
  
}

#button-1 {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 137px;
  border: 2px solid #9e00ff;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: none;
  cursor: pointer;
}

#button-2 {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 142px;
  border: 2px solid #9e00ff;
  background: linear-gradient(94deg, #530484 13.04%, #040255 165.2%);
  /* box-shadow: 0px 0px 14px 0px #9E00FF; */
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}


@media (max-width:460px){
    .projects-1{
        max-width: 350px;
        margin: 20px;
    }
    .projects-1 img{
        transform: scale(0.7);
    }
}

@media (max-width:380px){
    .projects-1{
        max-width: 300px;
        margin: 20px;
    }
    .projects-1 img{
        transform: scale(0.65);
    }
}