.items{
    display: flex;
padding:0 20px;
align-items: center;
gap: 15px;
border-radius: 15px;
/* border: 1px solid #9E00FF; */
background: linear-gradient(0deg, rgba(116, 1, 187, 0.393) -1.22%, #06048000 100.78%);
margin: 10px;
}
.items svg{
    width: 16.667px;
height: 25px;

}
.items p{
    color: #FFF;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

@media (max-width:450px){
    .items p{
        font-size: 16px;
    }
}