.skills{
    margin-top: 50px;
    row-gap: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
    background: rgba(141, 37, 201, 0.174);
}


.skills-heading h1 {
  color: #fff;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 0.5;
}
.skills-heading p {
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width:450px){
    .skills-heading p{
        font-size: 18px;
        margin: 10px;
    }
}
